body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.loading {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.main-container {
    flex-direction: column;
}

.main-header {
    width: 100%;
    background-color: #35c0ff;
    padding: 0 10px;
    box-shadow: 0px 1px 5px 1px #b9c3c8;
    color: #fff;
    height: auto;
    border: 1px solid #35c0ff;
}

.contacts-title {
    width: 170px;
}

.contacts-container {
    max-width: 940px;
    width: 100%;
    display: flex;
}

.contacts-list {
    width: 100%;
}

.item {
    cursor: pointer;
    padding: 10px 5px;
    box-shadow: 0px 1px 1px 0px #214dff45;
    margin: 2px 0;
}

.contact-item {
    display: flex;
    justify-content: space-between;
}

.group-item {
    display: inline-block;
    padding: 15px 20px;
    margin-left: 5px;
}

.contact-tel {
    /*float: right;*/
    display: block;
    margin-left: auto;
}

.groups-container {
    max-width: 940px;
    width: 100%;
    display: flex;
}
.groups-list {
    width: auto;
    min-width: 100px;
    text-align: center;
    padding-left: 9px;
}

.groups-title {
    width: 170px;
}

.btns-container {
    margin: auto;
    width: 50%;
}

.btn {
    width: 200px;
    height: 50px;
    background: #ffffff36;
    font-size: 19px;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
    outline: none;
    color: white;
}

.btn:hover {
    background: #1a34b236;
    transition: 1s;
    border-color: #177adf;
}
.btn:active {
    background: rgba(142, 171, 255, 0.78);
    transition: 0.5s;
    border-color: #9adbdf;
}

.add-group {
    background: #679dffb8;
    border-color: #177adf;
}

.add-group:hover {
    background: #225fccb8;
    border-color: #ffffff;
}
.add-group:active {
    background: rgba(142, 171, 255, 0.78);
    transition: 0.5s;
    border-color: #9adbdf;
}

.remove-btn {
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
}

.modal-window {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #c6dfff;
    border: 11px solid rgb(53, 192, 255);
    height: 150px;
    width: 500px;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: 0px 0 2px 1px #177adf;
}

.groupName, .contactName, .contactTel {
    padding: 10px;
    width: 290px;
    border: 1px solid #59a6ff;
}

#submitGroup, #submitContact {
    width: 200px;
    padding: 10px;
    background-color: #baff9d8f;
    border: 2px solid #25e73d;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}